<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.JobInstanceMapper">

    <resultMap id="BaseResultMap" type="com.common.entity.JobInstance">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="jobId" column="job_id" jdbcType="BIGINT"/>
        <result property="jobName" column="job_name" jdbcType="VARCHAR"/>
        <result property="instanceId" column="instance_id" jdbcType="BIGINT"/>
        <result property="dispatchStrategy" column="dispatch_strategy" jdbcType="INTEGER"/>
        <result property="extra" column="extra" jdbcType="VARCHAR"/>
        <result property="processorInfo" column="processor_info" jdbcType="VARCHAR"/>
        <result property="params" column="params" jdbcType="VARCHAR"/>
        <result property="triggerTime" column="trigger_time" jdbcType="TIMESTAMP"/>
        <result property="replyTime" column="reply_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="lastReportTime" column="last_report_time" jdbcType="BIGINT"/>
        <result property="result" column="result" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
        <result property="updatedDate" column="updated_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,job_id,job_name,
        instance_id,dispatch_strategy,extra,
        processor_info,params,trigger_time,
        reply_time,end_time,last_report_time,
        result,status,created_date,
        updated_date
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_job_instance
        where  id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_job_instance
        where  id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.common.entity.JobInstance" useGeneratedKeys="true">
        insert into t_job_instance
        ( id,job_id,job_name
        ,instance_id,dispatch_strategy,extra
        ,processor_info,params,trigger_time,reply_time
        ,end_time,last_report_time,result
        ,status,created_date,updated_date
        )
        values (#{id,jdbcType=BIGINT},#{jobId,jdbcType=BIGINT},#{jobName,jdbcType=VARCHAR}
               ,#{instanceId,jdbcType=BIGINT},#{dispatchStrategy,jdbcType=INTEGER},#{extra,jdbcType=VARCHAR}
               ,#{processorInfo},#{params,jdbcType=VARCHAR},#{triggerTime,jdbcType=TIMESTAMP},#{replyTime,jdbcType=TIMESTAMP}
               ,#{endTime,jdbcType=TIMESTAMP},#{lastReportTime,jdbcType=BIGINT},#{result,jdbcType=VARCHAR}
               ,#{status,jdbcType=INTEGER},#{createdDate,jdbcType=TIMESTAMP},#{updatedDate,jdbcType=TIMESTAMP}
               )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.common.entity.JobInstance" useGeneratedKeys="true">
        insert into t_job_instance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="jobId != null">job_id,</if>
            <if test="jobName != null">job_name,</if>
            <if test="instanceId != null">instance_id,</if>
            <if test="dispatchStrategy != null">dispatch_strategy,</if>
            <if test="extra != null">extra,</if>
            <if test="processorInfo != null">processor_info,</if>
            <if test="params != null">params,</if>
            <if test="triggerTime != null">trigger_time,</if>
            <if test="replyTime != null">reply_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="lastReportTime != null">last_report_time,</if>
            <if test="result != null">result,</if>
            <if test="status != null">status,</if>
            <if test="createdDate != null">created_date,</if>
            <if test="updatedDate != null">updated_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">id = #{id,jdbcType=BIGINT},</if>
            <if test="jobId != null">job_id = #{jobId,jdbcType=BIGINT},</if>
            <if test="jobName != null">job_name = #{jobName,jdbcType=VARCHAR},</if>
            <if test="instanceId != null">instance_id = #{instanceId,jdbcType=BIGINT},</if>
            <if test="dispatchStrategy != null">dispatch_strategy = #{dispatchStrategy,jdbcType=INTEGER},</if>
            <if test="extra != null">extra = #{extra,jdbcType=VARCHAR},</if>
            <if test="processorInfo != null">processor_info = #{processorInfo,jdbcType=VARCHAR},</if>
            <if test="params != null">params = #{params,jdbcType=VARCHAR},</if>
            <if test="triggerTime != null">trigger_time = #{triggerTime,jdbcType=TIMESTAMP},</if>
            <if test="replyTime != null">reply_time = #{replyTime,jdbcType=TIMESTAMP},</if>
            <if test="endTime != null">end_time = #{endTime,jdbcType=TIMESTAMP},</if>
            <if test="lastReportTime != null">last_report_time = #{lastReportTime,jdbcType=BIGINT},</if>
            <if test="result != null">result = #{result,jdbcType=VARCHAR},</if>
            <if test="status != null">status = #{status,jdbcType=INTEGER},</if>
            <if test="createdDate != null">created_date = #{createdDate,jdbcType=TIMESTAMP},</if>
            <if test="updatedDate != null">updated_date = #{updatedDate,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.common.entity.JobInstance">
        update t_job_instance
        <set>
            <if test="jobId != null">
                job_id = #{jobId,jdbcType=BIGINT},
            </if>
            <if test="jobName != null">
                job_name = #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="instanceId != null">
                instance_id = #{instanceId,jdbcType=BIGINT},
            </if>
            <if test="dispatchStrategy != null">
                dispatch_strategy = #{dispatchStrategy,jdbcType=INTEGER},
            </if>
            <if test="extra != null">
                extra = #{extra,jdbcType=VARCHAR},
            </if>
            <if test="processorInfo != null">
                processor_info = #{processorInfo,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                params = #{params,jdbcType=VARCHAR},
            </if>
            <if test="triggerTime != null">
                trigger_time = #{triggerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="replyTime != null">
                reply_time = #{replyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastReportTime != null">
                last_report_time = #{lastReportTime,jdbcType=BIGINT},
            </if>
            <if test="result != null">
                result = #{result,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createdDate != null">
                created_date = #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedDate != null">
                updated_date = #{updatedDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where   id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.common.entity.JobInstance">
        update t_job_instance
        set
            job_id =  #{jobId,jdbcType=BIGINT},
            job_name =  #{jobName,jdbcType=VARCHAR},
            instance_id =  #{instanceId,jdbcType=BIGINT},
            dispatch_strategy =  #{dispatchStrategy,jdbcType=INTEGER},
            extra =  #{extra,jdbcType=VARCHAR},
            processor_info =  #{processorInfo,jdbcType=VARCHAR},
            params =  #{params,jdbcType=VARCHAR},
            trigger_time =  #{triggerTime,jdbcType=TIMESTAMP},
            reply_time =  #{replyTime,jdbcType=TIMESTAMP},
            end_time =  #{endTime,jdbcType=TIMESTAMP},
            last_report_time =  #{lastReportTime,jdbcType=BIGINT},
            result =  #{result,jdbcType=VARCHAR},
            status =  #{status,jdbcType=INTEGER},
            created_date =  #{createdDate,jdbcType=TIMESTAMP},
            updated_date =  #{updatedDate,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=BIGINT}
    </update>
</mapper>