<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.JobInfoMapper">

    <resultMap id="BaseResultMap" type="com.common.entity.JobInfo">
        <id property="jobId" column="job_id"/>
        <result property="jobName" column="job_name"/>
        <result property="cron" column="cron"/>
        <result property="processorInfo" column="processor_info"/>
        <result property="dispatchStrategy" column="dispatch_strategy"/>
        <result property="designatedWorkers" column="designated_workers"/>
        <result property="tag" column="tag"/>
        <result property="params" column="params"/>
        <result property="status" column="status"/>
        <result property="nextTriggerTime" column="next_trigger_time"/>
        <result property="serverIp" column="server_ip"/>
        <result property="maxRetryTimes" column="max_retry_times"/>
        <result property="retryInterval" column="retry_interval"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedDate" column="updated_date"/>
    </resultMap>

    <sql id="Base_Column_List">
        job_id
        ,job_name,cron,processor_info,dispatch_strategy,designated_workers,
        tag,params,status,next_trigger_time,server_ip,
        max_retry_times,retry_interval,created_date,updated_date
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_job_info
        where job_id = #{jobId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_job_info
        where job_id = #{jobId}
    </delete>
    <insert id="insert" keyColumn="job_id" keyProperty="jobId" parameterType="com.common.entity.JobInfo"
            useGeneratedKeys="true">
        insert into t_job_info
        (job_name, cron, processor_info, dispatch_strategy, designated_workers,
         tag, params, status, next_trigger_time, server_ip,
         max_retry_times, retry_interval)
        values (#{jobName}, #{cron}, #{processorInfo}, #{dispatchStrategy}, #{designatedWorkers},
                #{tag}, #{params}, #{status}, #{nextTriggerTime}, #{serverIp},
                #{maxRetryTimes}, #{retryInterval})
    </insert>
    <insert id="insertSelective" keyColumn="job_id" keyProperty="jobId" parameterType="com.common.entity.JobInfo"
            useGeneratedKeys="true">
        insert into t_job_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobName != null">job_name,</if>
            <if test="cron != null">cron,</if>
            <if test="processorInfo != null">processor_info,</if>
            <if test="dispatchStrategy != null">dispatch_strategy,</if>
            <if test="designatedWorkers != null">designated_workers,</if>
            <if test="tag != null">tag,</if>
            <if test="params != null">params,</if>
            <if test="status != null">status,</if>
            <if test="nextTriggerTime != null">next_trigger_time,</if>
            <if test="serverIp != null">server_ip,</if>
            <if test="maxRetryTimes != null">max_retry_times,</if>
            <if test="retryInterval != null">retry_interval,</if>
            <if test="createdDate != null">created_date,</if>
            <if test="updatedDate != null">updated_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobName != null">#{jobName},</if>
            <if test="cron != null">#{cron},</if>
            <if test="processorInfo != null">#{processorInfo},</if>
            <if test="dispatchStrategy != null">#{dispatchStrategy},</if>
            <if test="designatedWorkers != null">#{designatedWorkers},</if>
            <if test="tag != null">#{tag},</if>
            <if test="params != null">#{params},</if>
            <if test="status != null">#{status},</if>
            <if test="nextTriggerTime != null">#{nextTriggerTime},</if>
            <if test="serverIp != null">#{serverIp},</if>
            <if test="maxRetryTimes != null">#{maxRetryTimes},</if>
            <if test="retryInterval != null">#{retryInterval},</if>
            <if test="createdDate != null">#{createdDate},</if>
            <if test="updatedDate != null">#{updatedDate},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.common.entity.JobInfo">
        update t_job_info
        <set>
            <if test="jobName != null">
                job_name = #{jobName},
            </if>
            <if test="cron != null">
                cron = #{cron},
            </if>
            <if test="processorInfo != null">
                processor_info = #{processorInfo},
            </if>
            <if test="dispatchStrategy != null">
                dispatch_strategy = #{dispatchStrategy},
            </if>
            <if test="designatedWorkers != null">
                designated_workers = #{designatedWorkers},
            </if>
            <if test="tag != null">
                tag = #{tag},
            </if>
            <if test="params != null">
                params = #{params},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="nextTriggerTime != null">
                next_trigger_time = #{nextTriggerTime},
            </if>
            <if test="serverIp != null">
                server_ip = #{serverIp},
            </if>
            <if test="maxRetryTimes != null">
                max_retry_times = #{maxRetryTimes},
            </if>
            <if test="retryInterval != null">
                retry_interval = #{retryInterval},
            </if>
            <if test="createdDate != null">
                created_date = #{createdDate},
            </if>
            <if test="updatedDate != null">
                updated_date = #{updatedDate},
            </if>
        </set>
        where job_id = #{jobId}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.common.entity.JobInfo">
        update t_job_info
        set job_name           = #{jobName},
            cron               = #{cron},
            processor_info     = #{processorInfo},
            dispatch_strategy  = #{dispatchStrategy},
            designated_workers = #{designatedWorkers},
            tag                = #{tag},
            params             = #{params},
            status             = #{status},
            next_trigger_time  = #{nextTriggerTime},
            server_ip          = #{serverIp},
            max_retry_times    = #{maxRetryTimes},
            retry_interval     = #{retryInterval},
            updated_date       = now()
        where job_id = #{jobId}
    </update>
    <update id="updateJobServerIp">
        update t_job_info
            set server_ip = #{serverIp}
        where
        job_id in
        <foreach collection="jobIds" item="jobId" separator="or" open="(" close=")">
            #{jobId}
        </foreach>
    </update>

    <select id="selectIdByIds">
        select job_id
        from t_job_info
        where job_id in
        <foreach collection="jobIds" item="jobId" separator="," open="(" close=")">
            #{jobId}
        </foreach>
    </select>

    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_job_info
        <where>
            <if test="jobId != null">
                and job_id = #{jobId,jdbcType=BIGINT}
            </if>
            <if test="jobName != null and jobName != ''">
                and job_name like concat('%',#{jobName,jdbcType=VARCHAR},'%')
            </if>
            <if test="cron != null and cron != ''">
                and cron = #{cron,jdbcType=VARCHAR}
            </if>
            <if test="tag != null and tag != ''">
                and tag = #{tag,jdbcType=VARCHAR}
            </if>
            <if test="processorInfo != null and processorInfo != ''">
                and processor_info like concat('%',#{processorInfo,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>

    <select id="selectOverdueJob" resultType="java.lang.Long">
        select job_id
        from t_job_info
        where status = 1
        and next_trigger_time <![CDATA[<]]>  #{timestamp}
    </select>

    <select id="selectByServerIpAndLessTimestamp"   resultMap="BaseResultMap">
        select job_id, cron,next_trigger_time
        from t_job_info
        where server_ip = #{serverAddress}
        and next_trigger_time <![CDATA[<=]]> #{timestamp}
        and status = 1
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from t_job_info
        where job_id in
        <foreach collection="jobIds" item="jobId" separator="," open="(" close=")">
            #{jobId}
        </foreach>
    </select>
</mapper>
